---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "React",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
  },
  {
    title: "Solid",
    icon: "frameworks/solid",
    url: "https://preactjs.com/",
  },
  {
    title: "Svelte/kit",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
  },
  {
    title: "Tauri",
    icon: "simple-icons:tauri",
    url: "https://vuejs.org/",
  },
  {
    title: "Next",
    icon: "simple-icons:nextdotjs",
    url: "https://vuejs.org/",
  },

  {
    title: "Astro",
    icon: "simple-icons:astro",
    url: "https://www.solidjs.com/",
  },

];
const Api: Array<CompatibilityItem> = [
  {
    title: "Express",
    icon: "simple-icons:express",
    url: "https://reactjs.org/",
  },
  {
    title: "Hono",
    icon: "simple-icons:hono",
    url: "https://preactjs.com/",
  },
  {
    title: "Actix/Axum",
    icon: "simple-icons:actix",
    url: "https://svelte.dev/",
  },
  {
    title: "Fiber",
    icon: "simple-icons:go",
    url: "https://vuejs.org/",
  },
  {
    title: "PostgreSQL",
    icon: "simple-icons:postgresql",
    url: "https://vuejs.org/",
  },

  {
    title: "MongoDB",
    icon: "simple-icons:mongodb",
    url: "https://www.solidjs.com/",
  },

];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Netlify",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
  },
  {
    title: "Vercel",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
  },
  {
    title: "Cloudflare",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
  },
  {
    title: "Docker",
    icon: "fa-brands:docker",
    url: "https://render.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
  },
  {
    title: "GitLab",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
  },
];
---

<ContentSection title="Make it your own" id="solution">
  <Fragment slot="lead">
    Useful <span class="text-primary">Software</span>. With your Idea{" "}
    and deploy to your favorite <span class="text-primary">platform</span>. start at $200 with customized tech stack.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Frameworks"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={Api}
    title="Api services"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Platforms"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
